@import "src/Styles/utils.scss";

.wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag {
  box-sizing: border-box;
  padding: 0 5px;
  margin-top: 5px;
  width: $authInputWidth;
  @include tagFont();
}

.authInput {
  display: block;
  @include authInput();
  -ms-ime-mode: inactive;
}

.signin {
  display: flex;
  width: $authInputWidth - 5px;
  margin: 20px auto;

  .local {
    flex: 1 !important;
    margin-right: 10px !important;
  }

  .localBtn {
    @include btn();
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: $yellowColor !important;
    font-size: 15px !important;
    font-weight: 700;
    color: $darkGreyColor;

    &:disabled {
      background-color: $brightGreyColor !important;
    }
  }

  .social {
    @include btn();
    @include centerify();
    width: 50px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    img {
      position: relative;
      width: 38px;
      right: 10px;
      top: 2px;
    }
  }
}

.err {
  color: $redColor;
  font-size: 12px;
}

.except {
  height: 50px;
  padding: 0;

  li {
    @include clickable();
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 600;
    color: $darkBlueColor;
  }
}
