@import "src/Styles/utils.scss";

.wrapper {
  @include section();
  margin-bottom: 30px;

  .header {
    @include header();
    width: 100%;

    .more {
      @include more();
    }
  }
  .body {
    margin-top: 10px;

    .eachLine {
      box-sizing: border-box;
      padding: 10px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $brightGreyColor;
      display: flex;
      align-items: center;
      width: 100%;

      .options {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        &:hover {
            background-color: rgba(150, 150, 150, .1);
        }
      }
    }
  }
}
