@import "src/Styles/utils.scss";

.wrapper {
    margin-bottom: 30px;

    @include section();
    .header {
        @include header();
        width: 100%;

        .more {
            @include more();
        }
    }
    .body {
        margin-top: 10px;
    }
}