@import "src/Styles/utils.scss";

.wrapper {
  width: 100%;

  table {
    width: 100%;

    thead {
      color: $lightGreyColor;
      
      .cnt { font-weight: 600 !important; }
      font-size: 13px;
    }

    tr {
      display: flex;
      padding: 5px 0;
      transition: .3s;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $brightGreyColor;

      &.non {
        padding: 5px 50px;
      }
    }

    .name {
      @include clickable();
      flex: 2;
      text-align: start;
    }
    .cnt {
      flex: 1;
      max-width: 150px;
      font-weight: 400;
    }
    .btn {
      @include clickable();
      width: 70px;
      color: $redColor;
    }
  }
}
