@import "src/Styles/utils.scss";

.wrapper {
  width: 100%;
  height: 100%;

  header {
    @include screenHeader();
    padding: 5px;
    box-sizing: border-box;

    h4 {
      flex: 1;
      margin: 5px 0;
    }

    .more {
      @include more();
    }
  }

  section {
    padding: 0 3px;
    .line {
      @include clickable();
      padding: 3px 0;
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      border-bottom-color: $brightGreyColor;
      text-decoration: none;
      color: $blackColor;
    }
  }
}