@import "src/Styles/utils.scss";

.loading {
    width: 100%;
    height: 100%;
    margin: 15px 0;
    background-color: $navColor;
    opacity: .1;
    border-radius: 20px;
    @include twinkleAnimation();
}