$logoFontFamily: "Bellota", cursive;
$yellowColor: rgb(230, 214, 77);
$blackColor: #333;
$bgColor: #f5f5f5;

@mixin clickable {
  user-select: none;
  cursor: pointer;
}

@mixin bigLogo {
  @include clickable();
  font-family: $logoFontFamily;
  font-size: 54px;
  font-weight: 300;
  color: $blackColor;
}

@mixin smallLogo {
  @include clickable();
  font-family: $logoFontFamily;
  font-size: 26px;
  font-weight: 400;
  color: $blackColor;
}
