$bigTitleFontSize: 54px;
$smallTitleFontSize: 26px;
$yellowColor: rgb(230, 214, 77);
$bgColor: #EFEFEF;

@mixin rFlex {
    display: flex;
    flex-direction: row;
}

@mixin cFlex {
    display: flex;
    flex-direction: column;
}