@import "src/Styles/utils.scss";

.wrapper {
  @include section();

  header {
    @include screenHeader();
    padding: 10px;

    .btn {
      @include clickable();
      width: 50px;
      margin-right: 15px;
      img {
        display: block;
        width: 30px;
        margin: 0 auto;
      }
    }

  }

  section {
    padding: 50px 30px;
  }
}