@import "src/Styles/utils.scss";

.wrapper {
  background-color: $navColor;

  .list {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid $brightGreyColor;
    border-radius: 10px;
    .listItem {
      padding: 0;
      .listItemText {
        padding: 0 10px;
      }
    }
  }

  .menu {
    width: 100%;

    .menuItem {
      width: 200px;
    }
  }
  
}

.MuiListItem-root {
  background-color: transparent;
}