@import "src/Styles/utils.scss";

.wrapper {
  .cnt {
    display: inline-flex;
    align-items: center;
    padding-right: 10px;

    img {
      width: 20px;
      margin: 0 4px 0 1px;
    }
    .num {
      line-height: 20px;
      font-size: 13px;
      font-weight: 700;
      color: $darkGreyColor;
    }
  }
}
