@import "src/Styles/utils.scss";

.wrapper {
    margin-top: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    color: $blackColor;

    .body {
        display: flex;

        .content {
            flex: 1;
            transition: .3s;
        }
    }
}

img {
    user-select: none;
}