@import "src/Styles/utils.scss";

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .title {
    flex: 1;
    overflow: hidden;
    font-size: 13px;
    font-weight: 600;
    margin: 5px;
    height: 40px;
    line-height: 40px;
  }
  
  .txt {
    font-size: 10px;
    font-weight: 700;
    color: $brightGreyColor;
  }

  .cnt {
    display: flex;
    align-items: center;
    padding-right: 10px;

    img {
      width: 20px;
      margin: 0 4px 0 1px;
    }
    .num {
      line-height: 20px;
      font-size: 13px;
      font-weight: 700;
      color: $darkGreyColor;
    }
  }
}
