@import "src/Styles/utils.scss";

.wrapper {
  width: 300px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;

  .lock {
    margin: 20px auto;
  }

  .input {
    width: 200px;
    height: 30px;
    margin: 5px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $brightGreyColor;
    font-size: 13px;
    font-weight: 600;
    color: $lightGreyColor;
    background-color: $bgColor;

    &:focus {
      background-color: $navColor;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  .btn {
    &.submit {
      margin: 0 10px;
      background-color: $yellowColor;
      color: #fff;
    }
  }
}