@import "src/Styles/utils.scss";

.wrapper {
    @include section();
    width: 90%;
    display: flex;
    align-items: center;
    padding-top: 50px;

    .user {
        img {
            display: block;
            width: 100px;
            margin: 10px;
        }
        div {
            text-align: center;
        }
        .username {
            font-size: 19px;
            font-weight: 600;
        }
        .name {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .in {
        font-size: 18px;
        font-weight: 700;
        color: $lightGreyColor;
        margin: 30px;
    }
}

.group {
    height: 100%;
    flex: 1;

    .groupHeader {
        width: 95%;
        @include header();
        justify-content: space-between;

        .title {
            @include titleFont();
        }
        .more {
            @include more();
            text-decoration: none;
        }
    }

    .list {
        box-sizing: border-box;
        margin-top: 5px;
        height: 200px;
        background-color: $navColor;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);

        .line {
            width: 95%;
            margin: 8px auto;
        }
    }
}